a {
    color: #333333;
}

.btn a{
    border: solid 2px;
    border-radius: 5px;
    padding: 4px;
    margin: 4px;
    display: inline-block;
    position: relative;
}

.btn a:hover {
    left: 2px;
}